.bg {
    background-image: linear-gradient(#00f260, #0575e6);
    height: 100vh;
   


}

.cStyle{
background-image: linear-gradient(#360033, #0b8793)


}

.view{
    background-image: linear-gradient(#00f260, #0575e6);
    height: 100%;


}

